# Football Data API Key (https://www.football-data.org/)
FOOTBALL_DATA_API_KEY=34b1d2f21f964f81a69a002bb067acc8

# API-Football Key (https://www.api-football.com/)
API_FOOTBALL_KEY=3c762dd3f6c273d9f16cb23b8b83d2bc
